---
import Layout from "../layouts/Layout.astro";
import JoinForm from "../components/JoinForm.astro";
import SubpageHeader from "../components/SubpageHeader.astro";
import "../styles/global.css";
---

<Layout title="Join | MAE" description="Join Morningside Art Exchange">
  <main class="blank-page join-page">
    <SubpageHeader title="JOIN" />
    <JoinForm />
  </main>
</Layout>
